.affix {
   position: static;
 }
 @media (min-width: 992px) {
    #toc.affix {
		top: inherit;
		width: inherit;
		position: fixed;
    }
}

a {
  color: #A51C30;
}

a:focus, a:hover {
  color: #6D121F;
}

#toc {
	width: 100%;
	text-align: left;
	max-height: 100%;
	overflow-y: scroll;
}
#logo{
	 background-color: #A51C30;
}
body { 
	padding-top: 115px; 
	overflow: visible;
}
html {
	overflow: visible;
}